html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(223, 223, 223);
}

hr {
    width: inherit;
    height: 1px;
    background-color: black;
    border: 1px;
}

.login-con {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 640px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    -webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.5);
}

.login-con .head {
    display: flex;
    justify-content: center;
}

.login-con .head p {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.login-con .credentials {
    display: flex;
    flex-direction: column;
}

.login-con .credentials .input-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-con .credentials .input-con p {
    align-items: flex-start;
    margin-left: 28px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.login-con .credentials .input-con input {
    align-items: flex-start;
    margin-left: 15px;
    width: 380px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(236, 236, 236);
    border: none;
}

.login-con .button {
    width: 380px;
    justify-content: center;
    background-color: rgb(229, 0, 0);
    height: 40px;
}