html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(223, 223, 223);
}

h1 {
    font-family: 'josefin sans';
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
}

h2 {
    margin-top: 40px;
    font-size: 28px;
}

a {
    color: red;
}

hr {
    width: inherit;
    height: 1px;
    background-color: black;
    border: 1px;
}

.register-con {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 460px;
    height: 640px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    -webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.5);
}

.register-con .head {
    display: flex;
    justify-content: center;
}

.register-con .head p {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.register-con .credentials {
    display: flex;
    flex-direction: column;
}

.register-con .credentials .input-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.register-con .credentials .input-con p {
    align-items: flex-start;
    margin-left: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.register-con .credentials .input-con input {
    align-items: flex-start;
    width: 380px;
    height: 50px;
    font-size: 18px;
    text-indent: 10px;
    background-color: rgb(236, 236, 236);
    border: none;
}

.register-con .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 45px;
    margin-top: 40px;
    background-color: rgb(210, 0, 0);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 7px  rgb(150, 0, 0);
}

.register-con .button:hover {
    background-color: rgb(180, 0, 0);
}

.register-con .button p {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.register-con .button:active {
    transform: translateY(3px);
    box-shadow: 0 3px  rgb(120, 0, 0);
}

.register-con .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    margin-top: 30px;
    font-size: 17px;
}

.register-con .login a {
    color: rgb(92, 92, 92);
    font-size: 18px;
    text-decoration: none;
}

.register-con .login a:hover {
    color: black;
}